# Jupyter
.ipynb_checkpoints/
.jupyter/

# Python
__pycache__/
*.pyc

# Environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

notebooks/01_Data_Collection - Copy.ipynb
notebooks/V0_04_Dashboard.ipynb
notebooks/V1_04_Dashboard.ipynb
notebooks/presentation.docx